@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
}

:root {
    --palceholder: #9495A5;
    --completed: #D1D2DA;
    --taskList: #494C6B;
    --blue: #3A7CFD;
    --typing: #393A4B;
    --placeholderDarkmode: #767992;
    --completedDarkmode: #4D5067;
    --taskListDarkmode: #C8CBE7;
    --background: #FAFAFA;
    --white: #FFF;
    --darkModeBody: #171823;
    --darkModeBars: #25273D;

}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: var(--background);
}

h1,
h2,
h3,
p {
    color: var(--palceholder);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.194px;
}

h2 {
    font-weight: 400;
}

h3 {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.167px;
}

p {
    color: var(--taskList);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.167px;
}


header {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url(./assets/mobile/background-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}


.top {
    display: flex;
    justify-content: space-between;
    padding: 48px 24px 40px 26px;
}

.bottom {
    display: flex;
    justify-content: center;
    padding: 0 24px 44px
}

.moonIcon {
    cursor: pointer;
}

input {
    width: 100%;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.50);
    background-image: url(./assets/mobile/circle.svg);
    background-repeat: no-repeat;
    background-position: top 12px left 20px;
}

input::placeholder,
input[type=text] {
    caret-color: var(--blue);
    font-family: "Josefin Sans";
    color: var(--palceholder);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.167px;
    outline: none;
}

input[type=text] {
    color: var(--typing);
    padding: 18px 15px 18px 52px;
}

main {
    display: none;
    flex-direction: column;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.50);
    margin: -28px 24px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0 24px 20px;
    gap: 40px;
    margin-top: 44px;
}

.panel {
    display: flex;
    justify-content: center;
    gap: 19px;
    padding: 15px 0 19px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.50);
}

section {
    display: flex;
    flex-direction: column;
}

.box {
    display: flex;
    flex-direction: column;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
}

.left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.line {
    display: flex;
    border-bottom: 1px solid #E3E4F1;
}

.delete {
    width: 12px;
}

.delete:hover {
    cursor: pointer;
}

.specs {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 16px 20px 20px;
}

.active {
    display: flex;
}

.circle {
    display: flex;
    overflow: visible;
    padding: 2px;
}

.circle:hover {
    cursor: pointer;
    background: url(./assets/desktop/hover.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28px;
}

.completed {
    text-decoration: line-through;
    color: var(--completed);
}

.clearAllTasks {
    cursor: pointer;
}

.panel h1,
.themeIcon {
    cursor: pointer;
}

.panel h1:hover,
.clearAllTasks:hover {
    color: var(--taskList);
}

.activatedCategory {
    color: var(--blue);
}

.desktopLogo,
.desktopMoonIcon,
.desktopSunIcon,
.hidden {
    display: none;
}

.darkModeBody {
    background-color: var(--darkModeBody);
}

.darkModeHeader {
    background-image: url("./assets/mobile/background-darkmode-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.darkModeBars, .darkModePanel {
    background-color: var(--darkModeBars);
    box-shadow: 0px 35px 50px -15px #00000080;
    
}

.darkModeInput::placeholder{
    color: var(--placeholderDarkmode);
}

.darkModeInput[type=text], .darkModeTask{
    color: var(--taskListDarkmode);
}

.darkModeLine {
    border-bottom: 1px solid var(--typing);
}




@media (width >=600px) {

    body,
    header,
    footer {
        align-items: center;
    }

    .panel,
    main {
        width: 552px;
    }

    .top {
        padding-top: 70px;
        width: 600px;
    }

    .left {
        gap: 24px;
    }

    .delete {
        width: 18px;
    }

    .desktopLogo,
    .desktopMoonIcon,
    .desktopSunIcon {
        display: flex;
    }

    .mobileLogo,
    .mobileMoonIcon,
    .mobileSunIcon {
        display: none;
    }


    .bottom {
        width: 600px;
    }

    input::placeholder,
    input[type=text] {
        font-size: 18px;
        line-height: 18px;
        letter-spacing: -0.25px;
    }

    input[type=text] {
        padding: 20px 15px 20px 76px;
    }

    input {
        background-position: top 16px left 20px;
    }

    p {
        font-size: 18px;
        line-height: 18px;
        letter-spacing: -0.25px;
    }

    .task {
        padding: 20px 24px;
    }

    .specs h3 {
        font-size: 14px;
        line-height: 14px;
        letter-spacing: -0.19px;
    }

    .specs {
        padding: 16px 24px 18px;
    }

    .hidden {
        display: none;
    }

    .darkModeHeader {
        background-image: url("./assets/desktop/background-darkmode-desktop.svg");
    }

}

@media (width >=900px) {
    header {
        background-image: url(./assets/desktop/background-desktop.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}